<?xml version="1.0" encoding=""?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
<!--maven创建的项目为servlet2.3，比较老的一个版本，这个版本jsp中默认禁用el表达式的，可以在tomcat目录下找到一个web.xml，赋值-->



  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
     </listener>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
